<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="za.weissdigitial.xamarin.forms.TinyCalculator">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<application android:label="FormsTinyCalculator.Android"></application>
</manifest>